appdirs
argcomplete
bidict
cffi
click
colorama
Flask
Flask-Cors
Flask-SocketIO
gevent
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
pyserial
python-engineio
python-escpos
python-socketio
pyusb
PyYAML
qrcode
six
typing_extensions
Werkzeug
zipp
zope.event
zope.interface